In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r"C:\Users\DELL\Desktop\Python prac\Jupyter Programs\Untitled Folder\ML Projects\churn_dataset.csv")

In [3]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [4]:
df.shape

(7043, 21)

In [5]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [6]:
col = df.columns
for i in range(1,len(col)):
    print(df[col[i]].value_counts())
    print("<--------------------------------------------->")

gender
Male      3555
Female    3488
Name: count, dtype: int64
<--------------------------------------------->
SeniorCitizen
0    5901
1    1142
Name: count, dtype: int64
<--------------------------------------------->
Partner
No     3641
Yes    3402
Name: count, dtype: int64
<--------------------------------------------->
Dependents
No     4933
Yes    2110
Name: count, dtype: int64
<--------------------------------------------->
tenure
1     613
72    362
2     238
3     200
4     176
     ...
28     57
39     56
44     51
36     50
0      11
Name: count, Length: 73, dtype: int64
<--------------------------------------------->
PhoneService
Yes    6361
No      682
Name: count, dtype: int64
<--------------------------------------------->
MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64
<--------------------------------------------->
InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64
<--------------------------------------------->
OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64
<--------------------------------------------->
Contract
Month-to-month    3875
Two year          1695
One year          1473
Name: count, dtype: int64
<--------------------------------------------->
PaperlessBilling
Yes    4171
No     2872
Name: count, dtype: int64
<--------------------------------------------->
PaymentMethod
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: count, dtype: int64
<--------------------------------------------->
MonthlyCharges
20.05     61
19.85     45
19.95     44
19.90     44
20.00     43
          ..
23.65      1
114.70     1
43.65      1
87.80      1
78.70      1
Name: count, Length: 1585, dtype: int64
<--------------------------------------------->
TotalCharges
          11
20.2      11
19.75      9
20.05      8
19.9       8
          ..
6849.4     1
692.35     1
130.15     1
3211.9     1
6844.5     1
Name: count, Length: 6531, dtype: int64
<--------------------------------------------->
Churn
No     5174
Yes    1869
Name: count, dtype: int64
<--------------------------------------------->

In [7]:
# here we droping 'space' values
df = df[df["TotalCharges"]!= ' ']

In [8]:
df['TotalCharges']=df['TotalCharges'].astype('float64')

C:\Users\DELL\AppData\Local\Temp\ipykernel_4768\694479969.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TotalCharges']=df['TotalCharges'].astype('float64')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [10]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
customerID,7032,7032,7590-VHVEG,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,7032,2,Male,3549,NaN,NaN,NaN,NaN,NaN,NaN,NaN
SeniorCitizen,7032.0,NaN,NaN,NaN,0.1624,0.368844,0.0,0.0,0.0,0.0,1.0
Partner,7032,2,No,3639,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dependents,7032,2,No,4933,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tenure,7032.0,NaN,NaN,NaN,32.421786,24.54526,1.0,9.0,29.0,55.0,72.0
PhoneService,7032,2,Yes,6352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MultipleLines,7032,3,No,3385,NaN,NaN,NaN,NaN,NaN,NaN,NaN
InternetService,7032,3,Fiber optic,3096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineSecurity,7032,3,No,3497,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OnlineBackup,7032,3,No,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN
DeviceProtection,7032,3,No,3094,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TechSupport,7032,3,No,3472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingTV,7032,3,No,2809,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StreamingMovies,7032,3,No,2781,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Contract,7032,3,Month-to-month,3875,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaperlessBilling,7032,2,Yes,4168,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PaymentMethod,7032,4,Electronic check,2365,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MonthlyCharges,7032.0,NaN,NaN,NaN,64.798208,30.085974,18.25,35.5875,70.35,89.8625,118.75
TotalCharges,7032.0,NaN,NaN,NaN,2283.300441,2266.771362,18.8,401.45,1397.475,3794.7375,8684.8
Churn,7032,2,No,5163,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Step - 2: Document the below mentioned points properly: - Identify the input and output/target variables. - Identify the type of ML Task. - Identify the Evaluation Metric. - For regression task - Mean Absolute Error - For classification task - Accuracy

In [11]:
x = df.drop(columns=['customerID','Churn'], axis=1)
y = df['Churn']

In [12]:
print(x.shape, y.shape)

(7032, 19) (7032,)

In [13]:
from sklearn.model_selection import train_test_split as split

In [14]:
x_train,x_test,y_train,y_test= split(x,y,train_size=0.75, random_state=45)

In [15]:
print(x_train.shape, y_train.shape)
print(x_test.shape,y_test.shape)

(5274, 19) (5274,)
(1758, 19) (1758,)

In [16]:
# we are seprating numerical data from dataFrame

In [17]:
x_train_num= x_train.select_dtypes(include=['Int64','float64'])

In [18]:
x_train_num

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
5108              0      23           49.70       1081.25
620               1      10           34.55        362.60
3882              0       4           44.80        176.20
601               0       2           19.95         47.70
4496              0      72           89.75       6595.90
...             ...     ...             ...           ...
4711              0      32           19.80        607.70
3622              0      72           90.95       6652.45
6021              0      13           20.45        254.50
5772              0      69           81.95       5601.40
6567              0      15           99.70       1566.75

[5274 rows x 4 columns]

In [19]:
from sklearn.preprocessing import StandardScaler

In [20]:
scaler= StandardScaler()

In [21]:
x_train_num_rescale =  pd.DataFrame(scaler.fit_transform(x_train_num),
                                   columns = x_train_num.columns,
                                   index = x_train_num.index)

In [22]:
x_train_num_rescale.head(5)

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
5108      -0.443851 -0.372068       -0.500547     -0.521803
620        2.253006 -0.902141       -1.004929     -0.839832
3882      -0.443851 -1.146790       -0.663680     -0.922321
601       -0.443851 -1.228340       -1.490999     -0.979187
4496      -0.443851  1.625898        0.832818      1.918633

In [23]:
print("Number of Numerical Features:", scaler.n_features_in_)
print("Mean of each column:", scaler.mean_)
print("Std of each column:", np.sqrt(scaler.var_))

Number of Numerical Features: 4
Mean of each column: [1.64580963e-01 3.21249526e+01 6.47348312e+01 2.26036679e+03]
Std of each column: [3.70801928e-01 2.45249312e+01 3.00367927e+01 2.25969873e+03]

# Applying OneHotEncoding on Categorical Columns

In [24]:
x_train_cat = x_train.select_dtypes(include='object')
x_train_cat.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
5108,Female,No,No,Yes,No,DSL,No,No,Yes,No,No,No,Month-to-month,No,Credit card (automatic)
620,Male,Yes,Yes,No,No phone service,DSL,No,No,No,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic)
3882,Male,No,No,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Credit card (automatic)
601,Male,No,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check
4496,Female,Yes,Yes,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic)

In [25]:
x_train_cat.columns

Index(['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod'],
      dtype='object')

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
ohe = OneHotEncoder(drop='first',sparse_output=False)

In [28]:
ohe

OneHotEncoder(drop='first', sparse_output=False)

In [29]:
x_train_cat_ohe = pd.DataFrame(ohe.fit_transform(x_train_cat),
                               columns = ohe.get_feature_names_out(x_train_cat.columns),
                               index = x_train_cat.index)
x_train_cat_ohe.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5108,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
620,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
3882,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
601,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
4496,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0

In [30]:
x_train_transformed = pd.concat([x_train_cat_ohe,x_train_num_rescale],axis =1)

In [31]:
x_train_transformed.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
5108,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.443851,-0.372068,-0.500547,-0.521803
620,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.253006,-0.902141,-1.004929,-0.839832
3882,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,-0.443851,-1.146790,-0.663680,-0.922321
601,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,-0.443851,-1.228340,-1.490999,-0.979187
4496,0.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,-0.443851,1.625898,0.832818,1.918633

# Applying on X_test

In [32]:
x_test.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
2287,Male,1,Yes,No,69,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),108.40,7318.20
2087,Female,0,No,No,4,No,No phone service,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,33.65,137.85
2308,Male,0,Yes,Yes,71,Yes,No,Fiber optic,Yes,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),104.65,7288.40
1960,Female,0,Yes,Yes,33,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,No,No,Month-to-month,No,Credit card (automatic),88.60,2888.70
4634,Female,0,No,No,2,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),18.75,53.15

In [33]:
x_test_num = x_test.select_dtypes(['Int64','float64'])
x_test_num.head()

      SeniorCitizen  tenure  MonthlyCharges  TotalCharges
2287              1      69          108.40       7318.20
2087              0       4           33.65        137.85
2308              0      71          104.65       7288.40
1960              0      33           88.60       2888.70
4634              0       2           18.75         53.15

In [34]:
x_test_num_rescale = pd.DataFrame(scaler.transform(x_test_num),
                                  columns = x_test_num.columns,
                                  index = x_test_num.index)
x_train_num_rescale.head()

      SeniorCitizen    tenure  MonthlyCharges  TotalCharges
5108      -0.443851 -0.372068       -0.500547     -0.521803
620        2.253006 -0.902141       -1.004929     -0.839832
3882      -0.443851 -1.146790       -0.663680     -0.922321
601       -0.443851 -1.228340       -1.490999     -0.979187
4496      -0.443851  1.625898        0.832818      1.918633

In [35]:
x_test_cat = x_test.select_dtypes(include=['object'])
x_train_cat.head()

,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod
5108,Female,No,No,Yes,No,DSL,No,No,Yes,No,No,No,Month-to-month,No,Credit card (automatic)
620,Male,Yes,Yes,No,No phone service,DSL,No,No,No,No,No,Yes,Month-to-month,Yes,Bank transfer (automatic)
3882,Male,No,No,Yes,No,DSL,No,No,No,No,No,No,Month-to-month,Yes,Credit card (automatic)
601,Male,No,No,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check
4496,Female,Yes,Yes,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,No,Credit card (automatic)

In [36]:
x_test_cat_ohe = pd.DataFrame(ohe.transform(x_test_cat),
                          columns = ohe.get_feature_names_out(x_test_cat.columns),
                          index = x_test_cat.index)
x_test_cat_ohe.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
2287,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0
2087,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2308,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
1960,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4634,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
x_test_transformed = pd.concat([x_test_cat_ohe,x_test_num_rescale],axis=1)
x_test_transformed

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,SeniorCitizen,tenure,MonthlyCharges,TotalCharges
2287,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,2.253006,1.503574,1.453723,2.238278
2087,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,1.0,0.0,-0.443851,-1.146790,-1.034892,-0.939292
2308,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,-0.443851,1.585124,1.328876,2.225090
1960,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,-0.443851,0.035680,0.794531,0.278061
4634,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,-0.443851,-1.228340,-1.530950,-0.976775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4141,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,2.253006,0.117230,-0.828478,-0.365432
4839,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,2.253006,-1.024466,0.300138,-0.759047
1435,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,1.0,1.0,0.0,0.0,2.253006,1.340475,1.487015,2.198117
1830,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,-0.443851,-0.005095,-1.472688,-0.691936
6152,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,-0.443851,-0.657492,0.947677,-0.303875

# Importing sklearn models

In [52]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [51]:
reg_model = [LogisticRegression(),
             DecisionTreeClassifier(),
             RandomForestClassifier(n_estimators=200),
             SVC(),
             GradientBoostingClassifier()]

score_card = pd.DataFrame(columns=["Algorithms", "Accuracy"])

result = []
alg = []

for model in reg_model:
    model_name = model.__class__.__name__
    model.fit(x_train_transformed, y_train)
    y_test_predicted = model.predict(x_test_transformed)
    accuracy = accuracy_score(y_test, y_test_predicted)
    result.append(accuracy)
    alg.append(model_name)

score_card["Algorithms"] = alg
score_card["Accuracy"] = result

score_card

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

                   Algorithms  Accuracy
0          LogisticRegression  0.796359
1      DecisionTreeClassifier  0.736064
2      RandomForestClassifier  0.785552
3                         SVC  0.786689
4  GradientBoostingClassifier  0.796359